3. Creation of Tables and Exploring

In [27]:
!pip install datascience

Collecting datascience
  Downloading datascience-0.17.6-py3-none-any.whl.metadata (688 bytes)
Collecting folium>=0.9.1 (from datascience)
  Downloading folium-0.17.0-py2.py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: setuptools in c:\users\venkateswarlu\anaconda3\lib\site-packages (from datascience) (69.5.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from datascience) (3.8.4)
Requirement already satisfied: pandas in c:\users\venkateswarlu\anaconda3\lib\site-packages (from datascience) (2.2.2)
Requirement already satisfied: scipy in c:\users\venkateswarlu\anaconda3\lib\site-packages (from datascience) (1.13.1)
Requirement already satisfied: numpy in c:\users\venkateswarlu\anaconda3\lib\site-packages (from datascience) (1.26.4)
Requirement already satisfied: ipython in c:\users\venkateswarlu\anaconda3\lib\site-packages (from datascience) (8.25.0)
Requirement already satisfied: plotly in c:\users\venkateswarlu\anaconda3\lib\site-packages (from datascience) (5.22.0)
Collecting branca (from datascience)
  Downloading branca-0.8.0-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: jinja2>=2.9 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from folium>=0.9.1->datascience) (3.1.4)
Requirement already satisfied: requests in c:\users\venkateswarlu\anaconda3\lib\site-packages (from folium>=0.9.1->datascience) (2.32.2)
Requirement already satisfied: xyzservices in c:\users\venkateswarlu\anaconda3\lib\site-packages (from folium>=0.9.1->datascience) (2022.9.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (2.9.0.post0)
Requirement already satisfied: decorator in c:\users\venkateswarlu\anaconda3\lib\site-packages (from ipython->datascience) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from ipython->datascience) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\venkateswarlu\anaconda3\lib\site-packages (from ipython->datascience) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from ipython->datascience) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from ipython->datascience) (2.15.1)
Requirement already satisfied: stack-data in c:\users\venkateswarlu\anaconda3\lib\site-packages (from ipython->datascience) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from ipython->datascience) (5.14.3)
Requirement already satisfied: colorama in c:\users\venkateswarlu\anaconda3\lib\site-packages (from ipython->datascience) (0.4.6)
Requirement already satisfied: pytz>=2020.1 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from pandas->datascience) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from pandas->datascience) (2023.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from plotly->datascience) (8.2.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from jedi>=0.16->ipython->datascience) (0.8.3)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from jinja2>=2.9->folium>=0.9.1->datascience) (2.1.3)
Requirement already satisfied: wcwidth in c:\users\venkateswarlu\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython->datascience) (0.2.5)
Requirement already satisfied: six>=1.5 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->datascience) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from requests->folium>=0.9.1->datascience) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from requests->folium>=0.9.1->datascience) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from requests->folium>=0.9.1->datascience) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\venkateswarlu\anaconda3\lib\site-packages (from requests->folium>=0.9.1->datascience) (2024.7.4)
Requirement already satisfied: executing in c:\users\venkateswarlu\anaconda3\lib\site-packages (from stack-data->ipython->datascience) (0.8.3)
Requirement already satisfied: asttokens in c:\users\venkateswarlu\anaconda3\lib\site-packages (from stack-data->ipython->datascience) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\venkateswarlu\anaconda3\lib\site-packages (from stack-data->ipython->datascience) (0.2.2)
Downloading datascience-0.17.6-py3-none-any.whl (732 kB)
   ---------------------------------------- 0.0/732.8 kB ? eta -:--:--
   ---------------------------------------- 0.0/732.8 kB ? eta -:--:--
   - -------------------------------------- 30.7/732.8 kB 1.3 MB/s eta 0:00:01
   --- ----------------------------------- 61.4/732.8 kB 825.8 kB/s eta 0:00:01
   ---- ---------------------------------- 92.2/732.8 kB 655.4 kB/s eta 0:00:01
   --------- ------------------------------ 174.1/732.8 kB 1.2 MB/s eta 0:00:01
   --------------- ------------------------ 286.7/732.8 kB 1.3 MB/s eta 0:00:01
   ---------------------- ----------------- 419.8/732.8 kB 1.6 MB/s eta 0:00:01
   ------------------------- -------------- 471.0/732.8 kB 1.6 MB/s eta 0:00:01
   --------------------------------- ------ 614.4/732.8 kB 1.8 MB/s eta 0:00:01
   ------------------------------------ --- 665.6/732.8 kB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 732.8/732.8 kB 1.7 MB/s eta 0:00:00
Downloading folium-0.17.0-py2.py3-none-any.whl (108 kB)
   ---------------------------------------- 0.0/108.4 kB ? eta -:--:--
   ---------------------------------------- 108.4/108.4 kB 3.2 MB/s eta 0:00:00
Downloading branca-0.8.0-py3-none-any.whl (25 kB)
Installing collected packages: branca, folium, datascience
Successfully installed branca-0.8.0 datascience-0.17.6 folium-0.17.0

In [29]:
from datascience import Table, make_array

# Corrected code
Table().with_columns(
    'Number of petals', make_array(8, 34, 5),
    'Name', make_array('lotus', 'sunflower', 'rose')
)

Number of petals | Name
8                | lotus
34               | sunflower
5                | rose

In [31]:
 flowers	=	Table().with_columns(
				'Number	of	petals',	make_array(8,	34,	5),
				'Name',	make_array('lotus',	'sunflower',	'rose')
 )
 flowers.with_columns(
				'Color',	make_array('pink',	'yellow',	'red')
 )

Number	of	petals | Name      | Color
8                | lotus     | pink
34               | sunflower | yellow
5                | rose      | red

In [33]:
flowers.num_columns

2

In [35]:
flowers.num_rows
flowers.labels

('Number\tof\tpetals', 'Name')

In [37]:
flowers.column('Name')

array(['lotus', 'sunflower', 'rose'],
      dtype='<U9')

In [39]:
Table()

In [41]:
student = Table().with_columns(
				'Number of students',make_array(1,2,3,4,5,6,7,8,9,10),
				'Name',	make_array('Venky','Danda','Kalyan','Ganesh','Vamsidhar','Karthikeya','Venkatesh','Kavin','Hari','Raghu'),
                'Roll-Number', make_array('201','202','203','204','205','206','207','208','209','210'),
                'Percentage',	make_array('90.00%','95.00%','95.00%','90.00%','85.00%','93.00%','93.00%','93.00%','95.00%','95.00%')
 )
student

Number of students | Name       | Roll-Number | Percentage
1                  | Venky      | 201         | 90.00%
2                  | Danda      | 202         | 95.00%
3                  | Kalyan     | 203         | 95.00%
4                  | Ganesh     | 204         | 90.00%
5                  | Vamsidhar  | 205         | 85.00%
6                  | Karthikeya | 206         | 93.00%
7                  | Venkatesh  | 207         | 93.00%
8                  | Kavin      | 208         | 93.00%
9                  | Hari       | 209         | 95.00%
10                 | Raghu      | 210         | 95.00%

In [43]:
student.select('Number of students', 'Name')

Number of students | Name
1                  | Venky
2                  | Danda
3                  | Kalyan
4                  | Ganesh
5                  | Vamsidhar
6                  | Karthikeya
7                  | Venkatesh
8                  | Kavin
9                  | Hari
10                 | Raghu

In [45]:
student.column('Name')

array(['Venky', 'Danda', 'Kalyan', 'Ganesh', 'Vamsidhar', 'Karthikeya',
       'Venkatesh', 'Kavin', 'Hari', 'Raghu'],
      dtype='<U10')

In [47]:
student.drop('Percentage')

Number of students | Name       | Roll-Number
1                  | Venky      | 201
2                  | Danda      | 202
3                  | Kalyan     | 203
4                  | Ganesh     | 204
5                  | Vamsidhar  | 205
6                  | Karthikeya | 206
7                  | Venkatesh  | 207
8                  | Kavin      | 208
9                  | Hari       | 209
10                 | Raghu      | 210

In [49]:
student

Number of students | Name       | Roll-Number | Percentage
1                  | Venky      | 201         | 90.00%
2                  | Danda      | 202         | 95.00%
3                  | Kalyan     | 203         | 95.00%
4                  | Ganesh     | 204         | 90.00%
5                  | Vamsidhar  | 205         | 85.00%
6                  | Karthikeya | 206         | 93.00%
7                  | Venkatesh  | 207         | 93.00%
8                  | Kavin      | 208         | 93.00%
9                  | Hari       | 209         | 95.00%
10                 | Raghu      | 210         | 95.00%

In [63]:
student.show(3)

In [53]:
student.sort('Percentage').show(10)

In [55]:
st = student.relabeled("Number of students", 'Number')
st.sort('Number')

Number | Name       | Roll-Number | Percentage
1      | Venky      | 201         | 90.00%
2      | Danda      | 202         | 95.00%
3      | Kalyan     | 203         | 95.00%
4      | Ganesh     | 204         | 90.00%
5      | Vamsidhar  | 205         | 85.00%
6      | Karthikeya | 206         | 93.00%
7      | Venkatesh  | 207         | 93.00%
8      | Kavin      | 208         | 93.00%
9      | Hari       | 209         | 95.00%
10     | Raghu      | 210         | 95.00%

In [57]:
student.sort('Name', descending=True)

Number of students | Name       | Roll-Number | Percentage
1                  | Venky      | 201         | 90.00%
7                  | Venkatesh  | 207         | 93.00%
5                  | Vamsidhar  | 205         | 85.00%
10                 | Raghu      | 210         | 95.00%
8                  | Kavin      | 208         | 93.00%
6                  | Karthikeya | 206         | 93.00%
3                  | Kalyan     | 203         | 95.00%
9                  | Hari       | 209         | 95.00%
4                  | Ganesh     | 204         | 90.00%
2                  | Danda      | 202         | 95.00%

In [59]:
student.take(0)

Number of students | Name  | Roll-Number | Percentage
1                  | Venky | 201         | 90.00%

In [61]:
print(type(student))

<class 'datascience.tables.Table'>